<div id="sidebar" class="sidebar no-select">
    <button id="closeSidebar" class="close-btn">&times;</button>
    <nav class="sidebar-nav">
        <a href="../home/home.html">Home</a>
        <a href="../home/Content/createDeck.html">Create Deck</a>
        <a href="../home/Content/createFlashcard.html">Create Flashcard</a>
        <a href="../home/Profiles/viewProfile.html">Profile</a>
        <a href="#" id="logoutBtn">Logout</a>
    </nav>
</div>
<div id="sidebarOverlay" class="sidebar-overlay"></div>